<body onbeforeunload="return Cerrar()">

</body>
<!-- Main Header-->
<div class="main-header side-header sticky">
  <div class="container-fluid">
    <div class="main-header-left">
      <a class="main-header-menu-icon" href="#" id="mainSidebarToggle"><span></span></a>
    </div>
    <div class="main-header-center">
      <div class="responsive-logo">
        <a href="index.html"><img src="/assetsInicio/img/icono.svg" class="mobile-logo icon-logo-head" alt="logo"></a>
        <a href="index.html"><img src="/assetsInicio/img/icono.svg" class="mobile-logo-dark icon-logo-head" alt="logo"></a>
      </div>
    </div>
    <div class="main-header-right">
      <% if(usuario.pais === 'Ecuador' && usuario.perfil !== 'superdistribuidor')  { %>
        <a  data-effect="effect-flip-horizontal" data-toggle="modal" href="#modalConsignacionEpayco" class="btn btn-primary mr-3" onclick="modalConsignacionE('4cad3d26-8ed0-4d8c-ac3a-d83b8e0fc311','4cad3d26-8ed0-4d8c-ac3a-d83b8e0fc311')" style="border-radius: 30px; background-color: white !important;" data-toggle="tooltip" data-placement="top" title="Consignación con Epayco">
          <img src="/assetsDashboard/img/epayco.png" alt="" style="width: 25px; height: 25px;">
        </a>
      <% } %>
      <div class="dropdown d-md-flex header-settings" data-placement="bottom" data-toggle="tooltip" title="Saldo actual">
        <% if(usuario.pais === 'Colombia') { %>
        <% var valorFormateado = new Intl.NumberFormat("es-CO", {style: "currency", currency: "COP", maximumSignificantDigits: 7}).format(usuario.saldo); %>
        <% } else { %>
        <% var valorFormateado = new Intl.NumberFormat("en-US", {style: "currency", currency: "USD"}).format(usuario.saldo); %>
        <% } %>
        <button class="btn btn-primary mr-3" style="cursor: default; border-radius: 30px;">Saldo: <%- valorFormateado %></button>
      </div>
      <div class="dropdown main-header-notification flag-dropdown" title="<%- usuario.pais %>">
        <% paises.data.forEach(pais => { %>
        <% if(pais.name === usuario.pais) { %>
        <a class="nav-link icon country-Flag">
          <span class="avatar align-self-center bg-transparent" style="background-image: url('/assetsDashboard/img/flags/<%= pais.cca2 %>.svg'); background-size: 130%; background-position: center; width: 30px; height: 30px;"></span>
        </a>
        <% } %>
        <% }) %>
      </div>
      <div class="dropdown d-md-flex">
        <a class="nav-link icon full-screen-link" href="">
          <i class="fe fe-maximize fullscreen-button fullscreen header-icons"></i>
          <i class="fe fe-minimize fullscreen-button exit-fullscreen header-icons"></i>
        </a>
      </div>
      <div class="dropdown main-profile-menu">
        <a class="d-flex" href="">
          <span class="main-img-user"><img alt="avatar" src="<%= usuario.foto === null ? '/assetsDashboard/img/users/default.jpg' : usuario.foto %>"></span>
        </a>
        <div class="dropdown-menu">
          <div class="header-navheading">
            <h6 class="main-notification-title text-capitalize"><%- usuario.nombre %></h6>
            <p class="main-notification-text text-capitalize"><%- usuario.perfil %></p>
          </div>
          <a class="dropdown-item border-top" href="/dashboard/mi-perfil">
            <i class="fe fe-user"></i> Mi Perfil
          </a>
          <a class="dropdown-item" onclick="cerrarSesion()" href="#">
            <i class="fe fe-power"></i> Cerrar Sesión
          </a>
        </div>
      </div>
      <div class="dropdown d-md-flex header-settings" data-placement="bottom" data-toggle="tooltip" title="Notificaciones">
        <a href="#" class="nav-link icon" data-toggle="sidebar-right" data-target=".sidebar-right" id="iconoTotalNotificaciones">
          <i class="fe fe-bell header-icons"> <span class="badge badge-pill badge-secondary" id="countTotalNotificaciones"></span></i>
        </a>
      </div>
    </div>
  </div>
  <script defer>
    function modalConsignacionE(e, id) {
      $('#global-loader').addClass("d-block");
      $('#global-loader').removeClass("d-none");
      fetch('/reportarConsignacion/infoMedio', {
          method: 'POST',
          headers: {
            'Content-type': 'application/json'
          },
          body: JSON.stringify({
            id: id
          })
        })
        .then(res => res.text())
        .then(data => {
          console.log(data);
          $('#global-loader').removeClass("d-block");
          $('#global-loader').addClass("d-none");
          swal({
            title: '¡Espera!',
            text: 'Señor usuario recuerda que si su transacción es menor a $30 (30 Dolares) se le descontarán 50 Centavos de dolar',
            type: 'info'
          });
        }).catch((e) => {
          console.log(e);
          $('#global-loader').removeClass("d-block");
          $('#global-loader').addClass("d-none");
          swal({
            title: 'Request Error',
            text: '500 - Reportar consignación',
            type: 'error'
          });
        })

    }

    function consignacionEpayco(e) {

const valorConsignado = document.getElementById("valorConsignadoe").value.trim();
const tipoConsignacion = document.getElementById("tipoConsignacione").value.trim();

if (parseInt(valorConsignado) < 2){
  return swal({
      title: '¡Espera!',
      text: 'El valor minimo de transacción tiene que ser mayor a un dolar',
      type: 'warning'
    });
}else{
  fetch('/dashboard/reportarConsignacion/createDataToEpayco', {
      method: 'POST',
      headers: {
        'Content-Type': 'application/json'
      },
      body: JSON.stringify({
        valor: valorConsignado
      })
    })
    .then(res => res.text())
    .then(data => {
      $('#global-loader').removeClass("d-block");
      $('#global-loader').addClass("d-none");
      let respuesta = JSON.parse(data);
      console.log(respuesta)
      var handler = ePayco.checkout.configure({
        key: respuesta.publicKey,
        test: false
      });
      delete respuesta.publicKey;
      delete respuesta.test;
      respuesta.amount = valorConsignado;
      respuesta.acepted = window.location.protocol + '//' +window.location.host + '/dashboard/reportarConsignacion/?status=acepted';
      respuesta.rejected = window.location.protocol + '//' +window.location.host + '/dashboard/reportarConsignacion/?status=rejected';
      respuesta.confirmation = window.location.protocol + '//' +window.location.host + '/dashboard/reportarConsignacion/?status=confirmation';
      respuesta.response = window.location.protocol + '//' +window.location.host + '/dashboard/reportarConsignacion/?status=response';
      respuesta.pending = window.location.protocol + '//' +window.location.host + '/dashboard/reportarConsignacion/?status=pending';
      respuesta.methodsDisable = ["PSE", "SP", "CASH", "DP"]
      console.log(respuesta);
      handler.open(respuesta);
      console.log(handler);
      handler.onResponse((resta)=>{
        console.log(resta);
        fetch('/dashboard/reportarConsignacion/updateFetchTransaction', {
          method: 'POST',
          headers: {
            'Content-Type': 'application/json'
          },
          body: JSON.stringify({
            recibo: resta.recibo,
            estado: resta.cod_respuesta,
            referencia_factura: resta.factura,
            valor_consignado: valorConsignado
          })
        })
      })
        }).catch((err) => {
          console.log(err);
          $('#global-loader').removeClass("d-block");
          $('#global-loader').addClass("d-none");
          swal({
            title: 'Request Error',
            text: '500 - Reportar consignación',
            type: 'error'
          });
        })
        .catch(err =>  {
          console.log(err);
        })

  }
}



  </script>
</div>

<!-- Modal Consignaciones -->
<div class="modal" id="modalConsignacionEpayco">
  <div class="modal-dialog modal-dialog-centered" data-backdrop="static" data-keyboard="false" role="document">
    <div class="modal-content modal-content-demo">
      <div class="modal-header">
        <h6 class="modal-title">Realizar consignación</h6><button aria-label="Close"  class="close" data-dismiss="modal" type="button"><span aria-hidden="true">&times;</span></button>
      </div>
      <div class="modal-body">
        <p class="mb-3">
          La siguientes casillas son obligatorias para poder realizar un proceso efectivo de carga de saldo, por lo tanto deben confirmar el valor a consignar.
        </p>
        <div class="px-2">
          <div class="form-group ">
            <div class="row row-sm">
              <label class="form-label">Valor a consignar<br>
                (
                <%= usuario.pais === 'Colombia' ? 'Recuerde esta red esta en COP, no utilice ni puntos ni comas.' : 'Recuerde esta red esta en USD, para los decimales por favor utilice "." comas.'; %>
                )</label>
              <input type="number" class="form-control" placeholder="Valor consignado" value="" id="valorConsignadoe">
            </div>
          </div>
          <div class="form-group ">
            <div class="row row-sm">
              <label class="form-label">Tipo Consignación</label>
              <select class="form-control" id="tipoConsignacione" disabled="disabled">
                <option value="Epayco Carga Automatica" selected="true" disabled="disabled">EPAYCO</option>
              </select>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button class="btn ripple btn-primary" type="button" onclick="consignacionEpayco(event)">Realizar consignación</button>
        <button class="btn ripple btn-secondary" data-dismiss="modal" type="button">Cerrar</button>
      </div>
    </div>
  </div>
</div>

<!-- End Main Header-->